@font-face {
  font-family: 'roboto';
  src: url('../font/Questrial-Regular.ttf');
}
body {
  font-family: 'roboto' !important;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1rem;
}
::-webkit-scrollbar {
  width: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 10px;
  margin-right: 10px;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.flex-4 {
  flex: 4;
}
.flex-5 {
  flex: 5;
}
.flex-6 {
  flex: 6;
}
.color-pink {
  color: #DA04F2;
}
.bg-pink {
  background: #DA04F2;
}
.bg-light-pink {
  background: rgba(218, 4, 242, 0.25);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 8%;
  padding: 50px 55px;
}
/* 
.side__menu{
  border: 1px dashed;
}

.content{
  border: 1px dashed;
} */
.menu__bullet {
  width: 30px;
  display: inline-block;
  height: 30px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}
.menu__bullet span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
